/*table responsive*/
body {
  padding-top: 50px;
}
/*
.navbar {
  height: 50px;
  padding: 0 15px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar a {
  color: white;
  line-height: 3em;
}*/
/*
.table-area {
  position: relative;
  z-index: 0;
  margin-top: 50px;
}

table.responsive-table {
  display: table;
  /* required for table-layout to be used (not normally necessary; included for completeness) */
   /*  table-layout: fixed;
this keeps your columns with fixed with exactly the right width */
  /* width: 100%;
  table must have width set for fixed layout to work as expected 
  height: 100%;
}

table.responsive-table thead {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  line-height: 3em;
  background: #eee;
  table-layout: fixed;
  display: table;
}

table.responsive-table th {
  background: #eee;
}

table.responsive-table td {
  line-height: 2em;
}

table.responsive-table tr > td,
table.responsive-table th {
  text-align: left;
}
.btn.btn-xs.btn-default{
	margin-left: 95%;
    margin-bottom: 8px;
    background-color: white;
 }
.btn.btn-sm.btn-default{
	background-color: white;
	color:black;
 }
.navbar-default .navbar-nav > .active > a:after{
		margin-bottom : 6px;
}*/

.btn.btn-xs.btn-default{
 margin-bottom: 8px;
    background-color: white;
    margin-top: 5px;
    float: right;
    background: lightgrey;
 }
.btn.btn-sm.btn-default{
 background-color: white;
 color:black;
 }
.navbar-default .navbar-nav > .active > a:after{
  margin-bottom : 6px;
}
.newtable{min-height: 460px!important;overflow-y: scroll;overflow-x: hidden!important;}
.noscroll{overflow-x: hidden!important;}
.newpanel{margin: 4px 2%;
    margin-top: 5%;}
	.tbpanel{margin: 4px 2%;
    margin-top: 2%;}
.newpanel h3{padding-top:1%}
.btncls,.btncls:hover{
       background-color: #273246!important;
    right: 0px;
    top: 35%;
    border-radius: 5px!important;
    right: 2%;
    background: #273246;
    color: white!important;
    text-transform: uppercase!important;
    margin-top: -3%!important;
    padding: 4px 18px!important;
}
.btnbg,.btnbg:hover, .btn-md,.btn-md:hover{
    border-color: #273246!important;
	color: white!important;
}
span.glyphicon,span.glyphicon:hover,span.glyphicon:focus{    border-color: white!important;
    color: #273246!important;
    background-color: white!important;
    font-size: 20px;
    margin-top: -13px;background:none!important;
}	
.newbtn{border-color: #273246!important;background: #273246!important;
	color: white!important;
}
a.btnbg {
  color:#f5f5f5;
  text-decoration: none;
}
a.btnbg:hover,
a:focus.btnbg {
  color:#f5f5f5;
  text-decoration: none;
}
.dataTables_filter ,.dataTables_length{
display: none!important; 
}
#user_data th{
padding-left: 0px!important;
    padding-right: 0px!important;  
	
}
.sorting, .sorting_asc, .sorting_desc {
    background : none;
}
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none;
}.DataTables_sort_icon { display:none;}
  .dataTable > thead > tr > th[class*="sort"]::after{display: none}table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    display: none!important;
}.dataTable > thead > tr > th[class*=sort]:after{
    display:none;
}
.dataTable > thead > tr > th[class*=sort]:before{
    display:none;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus,#insert{
	color:white!important;
	background:#273246!important;
}
.pagination{ margin-top: 8%!important;
}
#user_data_info{
    color: #273246!important;
    font-weight: bold;
    margin-left: 4%;
    margin-top: 5%;
}
th{text-transform:uppercase;color: #273246!important;padding:12px 8px!important;text-align:center!important;}
#user_data tr{text-align:center!important;padding:0px!important;    height: 58px;}
.newt{
padding:0px!important;
}
.navbar-default {
    background-color: #273246!important;
    border-color: #273246!important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
color:white!important;
font-size: 14px;
    text-transform: uppercase;

}
.navbar-default .navbar-nav > .active > a:after {
    background-color: white!important;
}
.navbar-inverse .navbar-nav > .active > a:after {
     background-color: #273246!important;
}
.navbar-default .navbar-nav > .active > a:after {
    margin-bottom: 1px!important;
}
body{
background:#eeeded;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,.navbar-inverse .navbar-nav > li > a{
	color: #273246!important;
}
.navbar-static-top{
color: #273246!important;
background-color: white!important;
}
.navbar-fixed-top{
 background-color: #273246!important;
 color: white!important;
}
.navbar-brand{
	    margin-left: 12px!important;
    color: white!important;
    font-size: 17px;
    text-transform: uppercase;
}
.navbar-inverse > .navbar-nav > li > a:not(.collapsed),.navbar-inverse .navbar-collapse{
background:white!important;
}.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td
{
	padding-bottom:0!important;
}
.table-fixed thead {
  width: 100%;
}
.table-fixed1  tbody {
height: 245px!important;
    overflow-y: auto;
	    overflow-x: hidden;
    width: 100%;
}
.table-responsive{
    overflow-x: hidden;
}
.table-fixed tbody {
height: 445px;    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.nores{
width:100%;
float:right;
}
input[type="file"]::-webkit-file-upload-button {
    background: white;
    border: none;
    font-size: 14px;
    color: #273246!important;
    border-radius: 2px;
    padding: 9px;
}
/*
.tdat {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.tdat td {
  color: #273246!important;
    text-align: left;
    padding: 8px;
}
.tdat td{
  
    text-align: left;
    padding: 8px;
}
.tdat tr{padding-top:3%;}

*/
.month {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: #273246!important;
}
.tot{
border-radius:5px;
border:solid 1px #273246!important;
color:#273246!important;
font-weight:bold;
width:85px;
}.amt {
    font-size: 15px;
    text-align: right;
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color:white!important;
}
.panel-body {
    padding: 20px;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
}
.panel-heading {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border-top-right-radius: 3px; */
    /* border-top-left-radius: 3px; */
    font-size: 20px;
    color: #273246!important;
    text-transform: uppercase;
}
.quarteri tr,.quarteri td{border:none!important;text-align:right;}
.panel-heading {
    color: #333333;
    background-color: #273246!important;
    border-color: #273246!important;
    color: white!important;
    padding: 10px;    font-size: 15px;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    min-width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 24px!important;
    vertical-align: middle;
    position: relative;
    top: -1px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#buttonplace{
text-align:right;
}
.newbg{
  background-color: #273246!important;
    border-color: #273246!important;
    color: white!important;
}
.login{
	padding:20px!important;
}
.navbar-toggle{
width:10px;
}
.dataTables_empty{
width:100%;
}
/*alert modal*/
#modalContainer {
	background-color:rgba(0, 0, 0, 0.3);
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:10000;
	background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
	position:relative;
	width:300px;
	min-height:100px;
	margin-top:50px;
	border:1px solid #666;
	background-color:#fff;
	background-repeat:no-repeat;
	background-position:20px 30px;
}

#modalContainer > #alertBox {
	position:fixed;
}

#alertBox h1 {
	margin:0;
	font:bold 0.9em verdana,arial;
	background-color:#273246!important;
	color:#FFF;
	border-bottom:1px solid #000;
	padding:2px 0 2px 5px;
}

#alertBox p {
	    font: 15px verdana,arial;
    height: 50px;
    /* padding-left: 5px; */
    /* margin-left: 55px; */
    padding: 21px;
}

#alertBox #closeBtn {
	display:block;
	position:relative;
	margin:5px auto;
	padding:7px;
	border:0 none;
	width:70px;
	font:0.7em verdana,arial;
	text-transform:uppercase;
	text-align:center;
	color:#FFF;
	background-color:#273246!important;
	border-radius: 3px;
	text-decoration:none;
}

/* unrelated styles */

#mContainer {
	position:relative;
	width:600px;
	margin:auto;
	padding:5px;
	border-top:2px solid #000;
	border-bottom:2px solid #000;
	font:0.7em verdana,arial;
}

h1,h2 {
	margin:0;
	padding:4px;
	font:bold 1.5em verdana;
	border-bottom:1px solid #000;
}

code {
	font-size:1.2em;
	color:#069;
}

#credits {
	position:relative;
	margin:25px auto 0px auto;
	width:350px; 
	font:0.7em verdana;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	height:90px;
	padding-top:4px;
}

#credits img {
	float:left;
	margin:5px 10px 5px 0px;
	border:1px solid #000000;
	width:80px;
	height:79px;
}

.important {
	background-color:#F5FCC8;
	padding:2px;
}

code span {
	color:green;
}

/*dashboard*/


#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.btnupload{
	margin: 0;
    padding: 0;
    float: right;
    margin-bottom: 0;
    margin-right: 36px;
    top: -24px;
}
